.repository-container {
  background-color: #0f172a;
  min-height: 100vh;
  width: 100vw;
  padding-bottom: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading-and-repositories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px 24px 24px 24px;
}

@media screen and (min-width: 576px) {
  .heading-and-repositories {
    margin: 0px 40px;
  }
}

@media screen and (min-width: 768px) {
  .heading-and-repositories {
    margin: 0px 50px;
  }
}

@media screen and (min-width: 992px) {
  .heading-and-repositories {
    margin: 0px 120px;
  }
}

@media screen and (min-width: 1068px) {
  .heading-and-repositories {
    margin: 0px 150px;
  }
}

.repositories-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #f8fafc;
  margin-top: 0px;
  margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
  .repositories-heading {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 12px;
  }
}

.repositories-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 0px;
  list-style-type: none;
  margin: 0px;
  width: 100%;
}

.repository-failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 24px;
}

@media screen and (min-width: 576px) {
  .repository-failure-container {
    margin: 0px 40px;
  }
}

@media screen and (min-width: 768px) {
  .repository-failure-container {
    margin: 0px 50px;
  }
}

@media screen and (min-width: 992px) {
  .repository-failure-container {
    margin: 0px 120px;
  }
}

@media screen and (min-width: 1068px) {
  .repository-failure-container {
    margin: 0px 150px;
  }
}
