.home-container {
  background-color: #0f172a;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 44px;
}

@media screen and (min-width: 768px) {
  .landing-page-container {
    padding: 0px 150px;
    justify-content: flex-start;
  }
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 272px;
  height: 32px;
  border: none;
  outline: none;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 522px;
    height: 56px;
    margin-bottom: 28px;
  }
}

.search-input {
  width: 232px;
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1d2537;
  padding: 8px 12px;
  color: #94a3b8;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.search-input::placeholder {
  color: #94a3b8;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 458px;
    height: 56px;
    padding: 12px 24px;
    font-size: 24px;
    line-height: 32px;
  }
}

.search-btn {
  width: 40px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #4f4e4c;
  padding: 10px 12px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-btn {
    width: 64px;
    height: 56px;
    padding: 10px 20px;
  }
}

.search-icon {
  width: 16px;
  height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #f8fafc;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 64px;
  }
}

.home-page_img {
  width: 264px;
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .home-page_img {
    width: 538px;
    margin-top: 10px;
  }
}
