.home-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0px 44px;
}

@media screen and (min-width: 768px) {
  .landing-page-container {
    padding: 0px 150px;
  }
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 272px;
  height: 32px;
  border: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .search-container {
    width: 522px;
    height: 56px;
  }
}

.search-input {
  width: 232px;
  height: 32px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #1d2537;
  padding: 8px 12px;
  color: #94a3b8;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.search-input::placeholder {
  color: #94a3b8;
}

@media screen and (min-width: 768px) {
  .search-input {
    width: 458px;
    height: 56px;
    padding: 12px 24px;
    font-size: 24px;
    line-height: 32px;
  }
}

.search-btn {
  width: 40px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #4f4e4c;
  padding: 10px 12px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .search-btn {
    width: 64px;
    height: 56px;
    padding: 10px 20px;
  }
}

.search-icon {
  width: 16px;
  height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .search-icon {
    width: 24px;
    height: 24px;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #f8fafc;
  margin-top: 26px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
    line-height: 64px;
    margin-top: 28px;
  }
}

.home-page_img {
  width: 264px;
  margin-top: 36px;
}

@media screen and (min-width: 768px) {
  .home-page_img {
    width: 538px;
    margin-top: 10px;
  }
}

.failure-page_img {
  width: 264px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .failure-page_img {
    width: 538px;
    margin-top: 6px;
  }
}

.search-and-err-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.failure-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: #f8fafc;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .failure-title {
    font-size: 32px;
    line-height: 64px;
    margin-bottom: 28px;
  }
}

.err-msg {
  margin-top: 6px;
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
  color: #dc2626;
}

@media screen and (min-width: 768px) {
  .err-msg {
    font-size: 12px;
    margin-top: 8px;
  }
}

.search-failure-input {
  border: 1px solid #dc2626;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.something-went {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  width: 250px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .something-went {
    width: 568px;
    font-size: 29px;
    line-height: 48px;
  }
}

.try-btn {
  background-color: #3b82f6;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .try-btn {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 12px;
  }
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 40px;
}

@media screen and (min-width: 576px) {
  .profile-container {
    padding: 0px 48px;
  }
}
